# dependências
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# produção
/build

# variáveis de ambiente (NUNCA versionar segredos)
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / SO
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json

# supabase local
/supabase/.branches
/supabase/.temp
